<!-- Modal -->
<div class="modal fade" id="smallWardrobe" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Small Wardrobe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <% include _carousel %>
          </div>
          <div class="col-md-6">
            <!-- <h2>US$ 30.99 <small>(Average)</small></h2> -->
            <span class="badge badge-primary text-uppercase">Shelter</span>
            <p class="mt-2">
				
            </p>
            <div class="row justify-content-between align-items-center mb-3">
				
              <div class="col">
                <label for="">Quantity</label>
                  <input class="form-control form-control-outline w-50" type="number" value="1">
              </div>
            </div>
            
            <a href="#" class="btn btn-block btn-primary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#star"></use>
              </svg>
              <span>Add to wishlist</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>

            <a href="#" class="btn btn-block btn-secondary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#download"></use>
              </svg>
              <span>Technical Details</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
	  <div class="modal-footer">
			<h5 class="d-flex align-items-center">
			  <svg class="navbar-icon mr-2">
				<use xlink:href="sprite.svg#box"></use>
			  </svg>
			  Product
			</h5>
			<ul>
				<li>
					<a href="products.html">
						Pre-fab Soft Wall
					</a>
				</li>
			</ul>
		  </div>
    </div>
  </div>
</div>