<!-- Modal -->
<div class="modal fade" id="firstFlight" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">First Flight Kit  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <% include _carousel %>
          </div>
          <div class="col-md-6">
            <h2>US$ 12,175.61 <small>(Average)</small></h2>
            <span class="badge badge-primary text-uppercase">Staff Safety and Travel</span>
            <p class="mt-2">
					The First Flight Accommodation Kit is a ready to deploy base camp for 12 people that includes the most beneficial supplies, equipment, and camp layout to aid first responders. This solution provides emergency responders with a standardized kit and method when being deployed, which allows the team to be completely self-sufficient in the field. The kit includes accommodation, office, and kitchen options, which includes necessary furniture, internal and external lighting, fencing, power distribution, accessories and spare parts. 
            </p>
            <div class="row justify-content-between align-items-center mb-3">
					<div class="col">
							<label for="" class="d-block">Type</label>
							<select class="custom-select custom-select-outline">
								<option selected>Office, 12 people </option>
								<option value="1">Multipurpose, 12 people </option>
							</select>
						</div>
              <div class="col">
                <label for="">Quantity</label>
                  <input class="form-control form-control-outline w-50" type="number" value="1">
              </div>
            </div>
            
            <a href="#" class="btn btn-block btn-primary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#star"></use>
              </svg>
              <span>Add to wishlist</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>

            <a href="#" class="btn btn-block btn-secondary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#download"></use>
              </svg>
              <span>Technical Details</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h5 class="d-flex align-items-center">
          <svg class="navbar-icon mr-2">
            <use xlink:href="sprite.svg#box"></use>
          </svg>
          Accessories
		</h5>
      </div>
    </div>
  </div>
</div>