<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">
        <img src="images/logo.svg" alt="UNHRD" height="60px">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="products.html">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#book-open"></use>
                    </svg>
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#box"></use>
                    </svg>
                    Accessories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#info"></use>
                    </svg>
                    Specialty Items
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#list"></use>
                    </svg>
                    Services
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#mail"></use>
                    </svg>
                    Contacts
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <!-- <svg class="navbar-icon">
                    <use xlink:href="sprite.svg#user"></use>
                </svg>
                Welcome, Barbara <br /> -->
                <!-- <a href="" class="btn btn-navy " class="text-white">
                    <svg class="navbar-icon mr-2">
                        <use xlink:href="sprite.svg#star"></use>
                    </svg>
                    Wishlist
                </a> -->

                <a class="nav-link">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#star"></use>
                    </svg>
                    Wishlist
                    <span class="badge badge-light">4</span>
                </a>

            </li>
        </ul>
    </div>
</nav>