<!-- Modal -->
<div class="modal fade" id="msu" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Pre-Fab Soft Wall – MSUs  </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <% include _carousel %>
          </div>
          <div class="col-md-6">
            <h2>US$ 12,175.61 <small>(Average)</small></h2>
            <span class="badge badge-primary text-uppercase">Shelter</span>
            <p class="mt-2">
					MSUs are designed to be easily assembled / disassembled and to store both Food and Non-food-Items in an emergency environment. MSU designs resemble a traditional tent shape made from lightweight, easy to assemble steel tubing’s, covered with a durable, UV stabilized, PVC-coated polyester fabric. The standard fabric colour is white and translucent to allow for good daylight transmission. However other color options are available on demand. The length of this hall can be increased or decreased based on multiple 4 meter modules. Each gable end has a large hooded air vent built-in to improve air circulation. Two large folding load/unloading doors are positioned, one in each gable end.
            </p>
            <div class="row justify-content-between align-items-center mb-3">
					<div class="col">
							<label for="" class="d-block">Type</label>
							<select class="custom-select custom-select-outline">
								<option selected>MSU, 10x32 Mt, ALU, 2D, N</option>
								<option value="1">WAREH., 10X32 ALU, 2D, O</option>
								<option value="1">WAREH., 10X34 ALU, G</option>
								<option value="1">10x24 MT, ALU, 2D, N </option>
								<option value="1">WAREH., 10X24, ALU, 2D, O</option>
								<option value="1">WAREH., 10X24, ALU, G</option>
							</select>
						</div>
              <div class="col">
                <label for="">Quantity</label>
                  <input class="form-control form-control-outline w-50" type="number" value="1">
              </div>
            </div>
            
            <a href="#" class="btn btn-block btn-primary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#star"></use>
              </svg>
              <span>Add to wishlist</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>

            <a href="#" class="btn btn-block btn-secondary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#download"></use>
              </svg>
              <span>Technical Details</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h5 class="d-flex align-items-center">
          <svg class="navbar-icon mr-2">
            <use xlink:href="sprite.svg#box"></use>
          </svg>
          Accessories
		</h5>
		<ul>
			<li>
				<a href="accessories.html">Anchor Ballast</a>
			</li>
			<li>
				<a href="accessories.html">Connection Kit</a>
			</li>
			<li>
				<a href="accessories.html">Fire Alarm Set</a>
			</li>
			<li>
				<a href="accessories.html">Lighting sets for indoors</a>
			</li>
			<li>
				<a href="accessories.html">Storm Kit</a>
			</li>
		</ul>
      </div>
    </div>
  </div>
</div>