.btn-block {
    text-align: left;
    font-size: 1.5rem;
    border-radius: 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $white;

    span {
        flex-grow: 2;
        margin-left: 10px;
    }
}

.btn-main {
    @include button-variant($color__main, $color__main);
}

.btn-navy {
    @include button-variant($color__navy-60, transparent);
}

.fill-primary {
	fill: $primary;
	stroke: $primary;
	color: $primary;
}