.modal-content,
.modal-header,
.modal-footer {
    border-radius: 0;
}

.modal-header {
    background-color: $primary;
}

.modal-footer {
    background-color: $gray-900;
    display: block;
}

.form-control-outline,
.custom-select-outline {
    background-color: transparent;
    border-color: $primary;
    color: $white;
    font-size: 1.5rem;
    font-weight: 300;
}