<!-- Modal -->
<div class="modal fade" id="vest" tabindex="-1" role="dialog" aria-labelledby="productModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productModalLabel">Vest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <% include _carousel %>
          </div>
          <div class="col-md-6">
            <!-- <h2>USD 1111</h2> -->
            <span class="badge badge-primary text-uppercase">Staff Safety and Travel</span>
            <p class="mt-2">
					Bullet proof vests protect the chest, the back and the sides. There are pockets in front and back for insert plates to upgrade the protection level.
            </p>
            <div class="row justify-content-between align-items-center mb-3">
					<div class="col">
							<label for="" class="d-block">Size</label>
							<select class="custom-select custom-select-outline">
									<option selected>S</option>
									<option selected>M</option>
									<option selected>L</option>
									<option selected>XL</option>
								<option selected>XXL</option>
								<option value="1">XXXL</option>
							</select>
						</div>
              <div class="col">
                <label for="">Quantity</label>
                  <input class="form-control form-control-outline w-50" type="number" value="1">
              </div>
            </div>
            
            <a href="#" class="btn btn-block btn-primary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#star"></use>
              </svg>
              <span>Add to wishlist</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>

            <a href="#" class="btn btn-block btn-secondary">
              <svg class="navbar-icon">
                <use xlink:href="sprite.svg#download"></use>
              </svg>
              <span>Technical Details</span>
              <img src="images/chevron-right.svg" alt="Arrow right">
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <h5 class="d-flex align-items-center">
          <svg class="navbar-icon mr-2">
            <use xlink:href="sprite.svg#box"></use>
          </svg>
          Accessories
        </h5>
      </div>
    </div>
  </div>
</div>