<!DOCTYPE html>
<html class="error">

<head>
  <meta charset="utf-8">
  <title>UNHRD Catalogue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="UNHRD Catalogue">
  <meta name="description" content="UNHRD Product and Services Catalogue">
  <meta name="author" content="UNHRD">

  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="UNHRD Catalogue" />
  <meta property="og:description" content="UNHRD Product and Services Catalogue" />
  <meta property="og:image" content="" />

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="favicon.png">

</head>

<body>
    <% include _partials/_navbar %>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 offset-md-4 text-center">
          <h1>Page not found</h1>
          <img src="images/undraw_lost_bqr2.svg" alt="Person holding a map, seems lost" class="error-illustration">
          <p class="mt-4">The page you are looking for no longer exists.</p>
          <a href="index.html" class="btn btn-block btn-primary">

              <svg class="navbar-icon">
                  <use xlink:href="sprite.svg#home"></use>
              </svg>
            <span>Go back to the homepage</span>
            <img src="images/chevron-right.svg" alt="Product Catalogue">
          </a>
        </div>
      </div>
    </div>
  </main>


</body>

</html>