<% include _partials/_head %>

<body>
  <% include _partials/_navbar %>
  <main>
    <div class="container-fluid">
      <div class="row" style="height: 100%">
        <div class="col-md-6">

          <div class="rectangle">
            <div class="row">
              <div class="col">
                <h1>UNHRD Catalogue</h1>
                <p>
                  Browse through our products, acessories and services.
                  If you need something specific, submit your custom project request to our pool of experts. Your
                  request will be analysed and you will receive and estimate.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <a href="products.html" class="btn btn-block btn-primary">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#book-open"></use>
                    </svg>
                  <span>Products</span>
                  <img src="images/chevron-right.svg" alt="Arrow right">
                </a>
              </div>
              <div class="col-md-6">
                <a href="accessories.html" class="btn btn-block btn-main">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#box"></use>
                    </svg>
                  <span>Accessories</span>
                  <img src="images/chevron-right.svg" alt="Arrow right">
                </a>
              </div>
              <div class="col-md-6">
                  <a href="specialty-items.html" class="btn btn-block btn-secondary">
                      <svg class="navbar-icon">
                          <use xlink:href="sprite.svg#info"></use>
                      </svg>
                    <span>Specialty Items</span>
                    <img src="images/chevron-right.svg" alt="Arrow right">
                  </a>
                </div>
              <div class="col-md-6">
                <a href="services.html" class="btn btn-block btn-navy">
                    <svg class="navbar-icon">
                        <use xlink:href="sprite.svg#list"></use>
                    </svg>
                  <span>Services</span>
                  <img src="images/chevron-right.svg" alt="Arrow right">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
  <% include _partials/_footer %>