<!DOCTYPE html>
<html class="products">

<head>
  <meta charset="utf-8">
  <title>UNHRD Catalogue</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="UNHRD Catalogue">
  <meta name="description" content="UNHRD Product and Services Catalogue">
  <meta name="author" content="UNHRD">

  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="UNHRD Catalogue" />
  <meta property="og:description" content="UNHRD Product and Services Catalogue" />
  <meta property="og:image" content="" />

  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" href="favicon.png">

</head>

<body>
  <% include _partials/_navbar %>
  <main class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 text-center mt-4 mb-4">
            <h1>Products</h1>
            <p>
              Browse through our products. Updated regularly.
            </p>
        </div>
      </div>
      <div class="row">

        <div class="col">
          


          <div class="product-grid">
            <div data-toggle="modal" data-target="#productModal">
              <img src="images/products/biscuits.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/blanket.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/helmet.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/shoes.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
              <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
              <h5>Lighting Tower with generator</h5>
              <label for="">Energy</label>
            </div>

            <div>
                <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
                <h5>Lighting Tower with generator</h5>
                <label for="">Energy</label>
              </div>

              <div>
                  <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
                  <h5>Lighting Tower with generator</h5>
                  <label for="">Energy</label>
                </div>

                <div>
                    <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
                    <h5>Lighting Tower with generator</h5>
                    <label for="">Energy</label>
                  </div>

                  <div>
                      <img src="images/products/lighting-tower.png" alt="lighting tower with generator">
                      <h5>Lighting Tower with generator</h5>
                      <label for="">Energy</label>
                    </div>
          </div>
        </div>
      </div>

    </div>
  </main>


  <% include _partials/_product %>

  <% include _partials/_footer %>