<!DOCTYPE html>
<html class="products">

<head>
	<meta charset="utf-8">
	<title>UNHRD Catalogue</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="UNHRD Catalogue">
	<meta name="description" content="UNHRD Product and Services Catalogue">
	<meta name="author" content="UNHRD">

	<meta property="og:url" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="UNHRD Catalogue" />
	<meta property="og:description" content="UNHRD Product and Services Catalogue" />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body>
	<% include _partials/_navbar %>
	<main class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 text-center mt-4 mb-4">
					<h1>Products</h1>
					<p>
						Browse through our products. Updated regularly.
					</p>
				</div>
			</div>
			<div class="row">

				<div class="col">



					<div class="product-grid">
							<div data-toggle="modal" data-target="#ablutionUnit">
									<img src="images/products/ablution-unit.png" alt="Ablution Unit">
									<h5>Ablution Unit</h5>
									<label for="">Shelter</label>
								</div>

						<div data-toggle="modal" data-target="#armoredVehicle">
							<img src="images/products/armored-vehicle-side.png" alt="Armored Vehicle ">
							<h5>Armored Vehicle </h5>
							<label for="">Vehicles</label>
						</div>

						<div data-toggle="modal" data-target="#blanket">
							<img src="images/products/blanket.png" alt="Blanket">
							<h5>Blanket</h5>
							<label for="">Relief Items</label>
						</div>

						<div data-toggle="modal" data-target="#crashHelmet">
							<img src="images/products/crash-helmet.png" alt="Crash Helmet">
							<h5>Crash Helmet</h5>
							<label for="">Staff Safety and Travel</label>
						</div>

						<div data-toggle="modal" data-target="#familyTent">
								<img src="images/products/family-tent.png" alt="Family Tent">
								<h5>Family Tent</h5>
								<label for="">Shelter</label>
							</div>

							<div data-toggle="modal" data-target="#firstFlight">
									<img src="images/products/placeholder.png" alt="No photo available">
									<h5>First Flight Kit</h5>
									<label for="">Staff Safety and Travel</label>
								</div>

						<div data-toggle="modal" data-target="#generator">
							<img src="images/products/generator.png" alt="Generator">
							<h5>Generator</h5>
							<label for="">Energy</label>
						</div>

						<div data-toggle="modal" data-target="#hebs">
							<img src="images/products/hebs.png" alt="High Energy Biscuits">
							<h5>High Energy Biscuits</h5>
							<label for="">Food</label>
						</div>

						<div data-toggle="modal" data-target="#helmet">
							<img src="images/products/helmet-white.png" alt="Helmet">
							<h5>Helmet</h5>
							<label for="">Staff Safety and Travel</label>
						</div>

						<div data-toggle="modal" data-target="#hygieneKit">
							<img src="images/products/hygiene-kit.png" alt="Hygiene Kit">
							<h5>Hygiene Kit</h5>
							<label for="">Relief Items</label>
						</div>

						<div data-toggle="modal" data-target="#jerryCan">
							<img src="images/products/jerrycan.png" alt="Jerry Can">
							<h5>Jerry Can</h5>
							<label for="">Relief Items</label>
						</div>

						<div data-toggle="modal" data-target="#kitchenSet">
							<img src="images/products/kitchen-set.png" alt="Kitchen Set">
							<h5>Kitchen Set</h5>
							<label for="">Relief Items</label>
						</div>

						<div data-toggle="modal" data-target="#plasticPallet">
							<img src="images/products/plastic-pallet.png" alt="Plastic Pallet">
							<h5>Plastic Pallet</h5>
							<label for="">Storage</label>
						</div>

						<div data-toggle="modal" data-target="#msuHard">
							<img src="images/products/module.png" alt="Pre-Fab Hard Wall">
							<h5>Pre-Fab Hard wall</h5>
							<label for="">Shelter</label>
						</div>

						<div data-toggle="modal" data-target="#msu">
							<img src="images/products/MSU.png" alt="MSU">
							<h5>Pre-Fab Soft wall</h5>
							<label for="">Storage</label>
						</div>

						<div data-toggle="modal" data-target="#tower">
								<img src="images/products/self-generating.png" alt="lighting tower with generator">
								<h5>Self-generating lighting sets for external use</h5>
								<label for="">Energy</label>
							</div>

						<div data-toggle="modal" data-target="#shoes">
							<img src="images/products/shoes.png" alt="Shoes">
							<h5>Shoes</h5>
							<label for="">Staff Safety and Travel</label>
						</div>

						<div data-toggle="modal" data-target="#tarpaulin">
							<img src="images/products/tarpaulin.png" alt="Tarpaulin">
							<h5>Tarpaulin</h5>
							<label for="">Shelter</label>
						</div>

						<div data-toggle="modal" data-target="#vest">
							<img src="images/products/vest.png" alt="Vest">
							<h5>Vest</h5>
							<label for="">Staff Safety and Travel</label>
						</div>

						<div data-toggle="modal" data-target="#waterBladder">
								<img src="images/products/placeholder.png" alt="No photo available">
								<h5>Water Bladder</h5>
								<label for="">WASH</label>
							</div>

							<div data-toggle="modal" data-target="#waterPurifier">
									<img src="images/products/water-purifier.png" alt="Water Purifier">
									<h5>Water Purifier</h5>
									<label for="">WASH</label>
								</div>
					</div>
				</div>
			</div>

		</div>
	</main>


	<% include _products/_armoredVehicle/_armoredVehicle %>
	<% include _products/_blanket/_blanket %>
	<% include _products/_crashHelmet/_crashHelmet %>
	<% include _products/_generator/_generator %>
	<% include _products/_hebs/_hebs %>
	<% include _products/_helmet/_helmet %>
	<% include _products/_hygieneKit/_hygieneKit %>
	<% include _products/_jerryCan/_jerryCan %>
	<% include _products/_kitchenSet/_kitchenSet %>
	<% include _products/_msu/_msu %>
	<% include _products/_msuHard/_msu %>
	<% include _products/_plasticPallet/_plasticPallet %>
	<% include _products/_shoes/_shoes %>
	<% include _products/_tarpaulin/_tarpaulin %>
	<% include _products/_tower/_tower %>
	<% include _products/_vest/_vest %>
	<% include _products/_familyTent/_familyTent %>
	<% include _products/_waterBladder/_waterBladder %>
	<% include _products/_waterPurifier/_waterPurifier %>
	<% include _products/_ablutionUnit/_ablutionUnit %>
	<% include _products/_firstFlight/_firstFlight %>

	<% include _partials/_footer %>