<!DOCTYPE html>
<html class="">

<head>
	<meta charset="utf-8">
	<title>UNHRD Catalogue</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="UNHRD Catalogue">
	<meta name="description" content="UNHRD Product and Services Catalogue">
	<meta name="author" content="UNHRD">

	<meta property="og:url" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="UNHRD Catalogue" />
	<meta property="og:description" content="UNHRD Product and Services Catalogue" />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body data-spy="scroll" data-target="#servicesNav" data-offset="50">
	<% include _partials/_navbar %>
	<main class="text-black">
		<div class="container">
			
			<div class="row pb-5">

				<div class="col-md-9 services" >
					<div class="text-center mt-5">
							<h1>Services</h1>
					</div>
						
					<h2 id="standard" class="mb-3 mt-3">Standard Services </h2>
					<h4 class="text-primary" id="receipt">Receipt of stock into HRD </h4>
					<p>Depots acknowledges receipt of a partner’s stocks via e-mail within 24 – 48 hours.</p>

					<hr />

					<h4 class="text-primary" id="storage">Storage</h4>

					<p>
						Once goods are inspected they are immediately allocated to the appropriate storage location and
						aligned with data in the Warehouse Management System. Items are placed in appropriate space (dry
						storage, cold chain storage, special storage for dangerous goods).
					</p>

					<hr />

					<h4 class="text-primary" id="inspection">Inspection of Stocks </h4>
					<p>
						Incoming stocks should arrive pre-packaged in a manner suitable for rapid export. When the items
						delivered are not in line with the purchase order or when the packaging is not appropriate, the
						inspection report will include recommendations regarding actions to be taken.
					</p>

					<hr />

					<h4 class="text-primary" id="storekeeping">Regular / routine storekeeping </h4>
					<ul>
						<li>
							Annual physical counts
						</li>
						<li>
							Authorized users are kept informed with data regarding perishable items
						</li>
						<li>
							Warehouse documentation related to stock movement is maintained
						</li>
						<li>
							Authorized users are informed about any repair needs or repackaging of stock
						</li>
					</ul>

					<hr />

					<h4 class="text-primary" id="premises">Handling within HRD premises </h4>
					<p>
						Handling as a standard service refers to handling of cargo within depot premises. Incoming
						palletized cargo is offloaded at the time of delivery. Outbound cargo is prepared for loading
						upon receipt of a dispatch request.
					</p>

					<hr />

					<h4 class="text-primary" id="documentation">Preparation of import and export documentation </h4>
					<p>
						Inbound and outbound documentation is prepared.
					</p>

					<hr />

					<h4 class="text-primary" id="stockReport">Issuing of stock reports </h4>
					<p>
						All stocks are registered in the UNHRD warehouse management system that is reflected in an
						online stock report, which is available in the restricted area of the UNHRD website. The online
						stock report provides a real time view of all stocks currently available and can be filtered
						according to item, organisation, and depot.
					</p>

					<hr />

					<h4 class="text-primary" id="website">Access to the website </h4>
					<p>
						The UNHRD website is regularly maintained and access information (username / password) is issued
						to RAs.
					</p>

					<hr />

					<h4 class="text-primary" id="accessPremises">Access to HRD premises </h4>
					<p>
						Access to UNHRD premises is ensured on working days.
					</p>

					<hr>

					<!-- Specific Services ------------------------------------------- -->

					<h2 id="specific" class="mt-5 mb-3">Specific Services</h2>

					<h4 class="text-primary" id="reliefItems">Procurement of emergency relief items </h4>

					<p>
						Partners can procure emergency relief items, support equipment and assets (i.e. vehicles) through UNHRD. The Network has established long-term agreements with a variety of suppliers globally that helps ensure the availability of items and speedy procurement. For specific items where we don’t have long-term agreements, we undertake a tender process that evaluates the specifications, quality, price and delivery time of the item. 
					</p>

					<hr>

					<h4 class="text-primary" id="transport">Procurement of transport services </h4>
					<p>
						UNHRD has long-term agreements (LTAs) in place for road and sea transport to most destinations, so there is no need for a dedicated tendering process. For destinations not covered by any existing LTA, a bid process is initiated. Aside from cost, level of service and other non-price variables (delivery date, transit time, access to required equipment, etc.) are considered when determining the most appropriate carrier. 
Under the UNHRD TA umbrella, Partners can also request WFP air and land transport services as well as shipping services. 
					</p>

					<hr>

					<h4 class="text-primary" id="maintenance">Specific Maintenance </h4>
					<p>
						UNHRD offers specific maintenance of stock during storage period in an HRD. This includes additional inspections or physical counts, disposal of expired stock, maintenance and technical check of machines, repairs and refurbishments, supervision of specialists in case of items requiring special storage conditions (i.e. drugs or dangerous goods). 
					</p>

					<hr>

					<h4 class="text-primary" id="repackaging">Repackaging and reconfiguration of stocks </h4>
					<p>
						In accordance with UNHRD Standard Operating Procedures (SOPs), Partners are to ensure that stocks delivered are wrapped and strapped in pallets in order to minimize offloading time.
					</p>

					<hr>

					<h4 class="text-primary" id="insurance">Stock insurance </h4>
					<p>
						UNHRD offers stock insurance for the period of storage and transportation up to the final delivery point. 
					</p>

					<hr>

					<h4 class="text-primary" id="offloading">Offloading and transfer of unpalletized cargo </h4>
					<p>
						UNHRD offers as a specific service the offloading and transfer of unpalletized cargo into the warehouse. 
					</p>

					<hr>

					<h4 class="text-primary" id="outbound">Outbound cargo handling and shunting </h4>
					<p>
						As a specific service UNHRD offers the handling of cargo outbound from the warehouse and shunting. 
					</p>

					<hr>

					<h4 class="text-primary" id="facilities">
						Facilities for trainings and events 
					</h4>
					<p>
						Partners can request the use of UNHRD facilities for trainings and events. 
					</p>

					<hr>

					<h4 class="text-primary" id="trainings">
						Organization of trainings 
					</h4>
					<p>
						Organization of trainings on subjects related to supply chain management. 
					</p>

					<hr>

					<h4 class="text-primary" id="assistance">Technical Assistance in the field </h4>
					<p>
						The Rapid Response Team (RRT) is available for immediate deployment upon request. They provide technical assistance as well as training in areas such as camp installation, airport operations and warehouse management. 
					</p>

					<hr>

					<h4 class="text-primary" id="specialEquipment">Offloading and transfer of cargo requiring special equipment </h4>
					<p>
						UNHRD offers as a specific service the offloading and transfer of cargo into the warehouse in cases where specialized equipment is required. 
					</p>
				</div>

				<nav class="col-md-3 nav-sticky" id="servicesNav">
	
						<ul class="nav flex-column " id="standardNav">
							<li class="nav-item">
									<strong>Specific Services</strong>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#receipt">Receipt of stock into HRD </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#storage">Storage </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#inspection">Inspection of Stocks </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#storekeeping">Regular / routine storekeeping </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#premises">Handling within HRD premises</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#documentation">Preparation of import and export documentation  </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#stockReport">Issuing of stock reports </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#website">Access to the website </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#accessPremises">Access to HRD premises  </a>
							</li>
						</ul>
	
						<hr>
	
	
						<ul class="nav flex-column " id="specificNav">
							<li class="nav-item">
								<strong>Specific Services</strong>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#reliefItems">Procurement of emergency relief items </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#transport">Procurement of transport services  </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#maintenance">Specific Maintenance </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#repackaging">Repackaging and reconfiguration of stocks </a>
							</li>
							<li class="nav-item">
								<a class="nav-link " href="#insurance">Stock insurance </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#offloading">Offloading and transfer of unpalletized cargo </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#outbound">Outbound cargo handling and shunting </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#facilities">Facilities for trainings and events </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#trainings">Organization of trainings </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#assistance">Technical Assistance in the field </a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#specialEquipment">Offloading and transfer of cargo requiring special equipment </a>
							</li>
						</ul>
	
					</nav>
			</div>

		</div>
	</main>


	<% include _accessories/_anchorBallast/_anchorBallast %>
	<% include _accessories/_bed/_bed %>
	<% include _accessories/_cabinet/_cabinet %>
	<% include _accessories/_connectionKit/_connectionKit %>
	<% include _accessories/_desk/_desk %>
	<% include _accessories/_electricBox/_electricBox %>
	<% include _accessories/_fireAlarm/_fireAlarm %>
	<% include _accessories/_lightingIndoor/_lightingIndoor %>
	<% include _accessories/_stormKit/_stormKit %>
	<% include _accessories/_toolkit/_toolkit %>
	<% include _accessories/_smallWardrobe/_smallWardrobe %>

	<% include _partials/_footer %>