<!DOCTYPE html>
<html class="specialty">

<head>
	<meta charset="utf-8">
	<title>UNHRD Catalogue</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="UNHRD Catalogue">
	<meta name="description" content="UNHRD Product and Services Catalogue">
	<meta name="author" content="UNHRD">

	<meta property="og:url" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="UNHRD Catalogue" />
	<meta property="og:description" content="UNHRD Product and Services Catalogue" />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body>
	<% include _partials/_navbar %>
	<main class="overlay">
		<div class="container">
			<div class="row pt-5 pb-5">
				<div class="col-md-8 offset-md-2 text-center mt-4">
					<h1>Services</h1>
				</div>
			</div>
			<div class="row pb-5">
				<div class="col-md-2">
					<a data-toggle="collapse" href="#standardNav">Standard Services</a>

					<ul class="nav flex-column collapse" id="standardNav">
						<li class="nav-item">
							<a class="nav-link active" href="#receipt">Receipt of stock into HRD </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#storage">Storage </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#inspection">Inspection of Stocks </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#inspection">Regular / routine storekeeping </a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#receipt">Handling within HRD premises</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#storage">Preparation of import and export documentation  </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#inspection">Issuing of stock reports </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#inspection">Access to the website </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#inspection">Access to HRD premises  </a>
						</li>
					</ul>

				</div>
				<div class="col-md-8">
					<h2 id="standard">Standard Services </h2>
					<h4 class="text-primary">Receipt of stock into HRD </h4>
					<p>Depots acknowledges receipt of a partner’s stocks via e-mail within 24 – 48 hours.</p>

					<hr class="border-white" id="storae">

					<h4 class="text-primary">Storage</h4>

					<p>
						Once goods are inspected they are immediately allocated to the appropriate storage location and
						aligned with data in the Warehouse Management System. Items are placed in appropriate space (dry
						storage, cold chain storage, special storage for dangerous goods).
					</p>

					<hr class="border-white" id="inspection">

					<h4 class="text-primary">Inspection of Stocks </h4>
					<p>
						Incoming stocks should arrive pre-packaged in a manner suitable for rapid export. When the items
						delivered are not in line with the purchase order or when the packaging is not appropriate, the
						inspection report will include recommendations regarding actions to be taken.
					</p>

					<hr class="border-white">

					<h4 class="text-primary">Regular / routine storekeeping </h4>
					<ul>
						<li>
							Annual physical counts
						</li>
						<li>
							Authorized users are kept informed with data regarding perishable items
						</li>
						<li>
							Warehouse documentation related to stock movement is maintained
						</li>
						<li>
							Authorized users are informed about any repair needs or repackaging of stock
						</li>
					</ul>

					<hr class="border-white">

					<h4 class="text-primary">Handling within HRD premises </h4>
					<p>
						Handling as a standard service refers to handling of cargo within depot premises. Incoming
						palletized cargo is offloaded at the time of delivery. Outbound cargo is prepared for loading
						upon receipt of a dispatch request.
					</p>

					<hr class="border-white">

					<h4 class="text-primary">Preparation of import and export documentation </h4>
					<p>
						Inbound and outbound documentation is prepared.
					</p>

					<hr class="border-white">

					<h4 class="text-primary">Issuing of stock reports </h4>
					<p>
						All stocks are registered in the UNHRD warehouse management system that is reflected in an
						online stock report, which is available in the restricted area of the UNHRD website. The online
						stock report provides a real time view of all stocks currently available and can be filtered
						according to item, organisation, and depot.
					</p>

					<hr class="border-white">

					<h4 class="text-primary">Access to the website </h4>
					<p>
						The UNHRD website is regularly maintained and access information (username / password) is issued
						to RAs.
					</p>

					<hr class="border-white">

					<h4 class="text-primary">Access to HRD premises </h4>
					<p>
						Access to UNHRD premises is ensured on working days.
					</p>

					<h2 id="specific">Specific Services</h2>
				</div>
			</div>

		</div>
	</main>


	<% include _accessories/_anchorBallast/_anchorBallast %>
	<% include _accessories/_bed/_bed %>
	<% include _accessories/_cabinet/_cabinet %>
	<% include _accessories/_connectionKit/_connectionKit %>
	<% include _accessories/_desk/_desk %>
	<% include _accessories/_electricBox/_electricBox %>
	<% include _accessories/_fireAlarm/_fireAlarm %>
	<% include _accessories/_lightingIndoor/_lightingIndoor %>
	<% include _accessories/_stormKit/_stormKit %>
	<% include _accessories/_toolkit/_toolkit %>
	<% include _accessories/_smallWardrobe/_smallWardrobe %>

	<% include _partials/_footer %>