<!DOCTYPE html>
<html class="products">

<head>
	<meta charset="utf-8">
	<title>UNHRD Catalogue</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="UNHRD Catalogue">
	<meta name="description" content="UNHRD Product and Services Catalogue">
	<meta name="author" content="UNHRD">

	<meta property="og:url" content="" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="UNHRD Catalogue" />
	<meta property="og:description" content="UNHRD Product and Services Catalogue" />
	<meta property="og:image" content="" />

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" type="image/png" href="favicon.png">

</head>

<body>
	<% include _partials/_navbar %>
	<main class="overlay">
		<div class="container">
			<div class="row pt-5 pb-5">
				<div class="col-md-8 offset-md-2 text-center mt-4 mb-4">
					<h1>Specialty Items</h1>
					<p>
						If you are interested in some of the specialty items we offer, please contact us directly through the email below:
					</p>
					<a href="mailto:unhrd.customerservice@wfp.org">
						unhrd.customerservice@wfp.org
					</a>
				</div>
			</div>
			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<h2>Mobility</h2>
					<ul>
						<li>Tipper trucks</li>
						<li>People transport trucks</li>
						<li>Busses</li>
						<li>Cargo trucks</li>
						<li>Soft skin vehicles</li>
					</ul>
				</div>

				<div class="col-md-4">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#truck"></use>
					</svg>
				</div>
			</div>

			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#innovation"></use>
					</svg>
				</div>

				<div class="col-md-4">
					<h2>Specialised Equipment</h2>
					<ul>
						<li>Garbage</li>
						<li>Water</li>
						<li>Fire and Sewage trucks</li>
						<li>Airport and Port handling equipment</li>
					</ul>
				</div>
			</div>

			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<h2>Safety & security</h2>
					<ul>
						<li>Ports Scanner</li>
						<li>XRAY scanner</li>
						<li>Handheld Scanners</li>
						<li>PPE</li>
						<li>Armoured Vehicle</li>
					</ul>
				</div>

				<div class="col-md-4">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#safety"></use>
					</svg>
				</div>
			</div>

			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#wash"></use>
					</svg>
				</div>

				<div class="col-md-4">
					<h2>WASH</h2>
					<ul>
						<li>River purification plants</li>
						<li>PUMPS</li>
						<li>Pipes</li>
					</ul>
				</div>
			</div>

			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<h2>Agricultural Equipment</h2>
					<ul>
						<li>Tractor</li>
						<li>Planters</li>
						<li>Harvesters</li>
						<li>Post harvest storage solution</li>
					</ul>
				</div>

				<div class="col-md-4">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#agriculture"></use>
					</svg>
				</div>
			</div>

			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#house"></use>
					</svg>
				</div>

				<div class="col-md-4">
					<h2>Furnishing</h2>
					<ul>
						<li>Guest houses</li>
					</ul>
				</div>
			</div>

			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<h2>Medical Equipment</h2>
					<ul>
						<li>Mobile clinics - Maternity</li>
						<li>Operating theatres</li>
						<li>Dental</li>
						<li>HIV</li>
						<li>Laboratory equipment</li>
						<li>Hospital equipment</li>
						<li>Ambulances</li>
					</ul>
				</div>

				<div class="col-md-4">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#medical"></use>
					</svg>
				</div>
			</div>

			<div class="row pt-5 pb-5">
				<div class="col-md-4 offset-md-2">
					<svg class="fill-primary">
						<use xlink:href="sprite.svg#construction"></use>
					</svg>
				</div>

				<div class="col-md-4">
					<h2>Construction Equipment</h2>
					<ul>
						<li>Graders</li>
						<li>Crushers</li>
						<li>Rollers</li>
						<li>Forklifts</li>
						<li>Backhoe loaders</li>
						<li> Loader Cranes</li>
						<li>Compressors</li>
						<li>Dumpers</li>
					</ul>
				</div>
			</div>

		</div>
	</main>


	<% include _accessories/_anchorBallast/_anchorBallast %>
	<% include _accessories/_bed/_bed %>
	<% include _accessories/_cabinet/_cabinet %>
	<% include _accessories/_connectionKit/_connectionKit %>
	<% include _accessories/_desk/_desk %>
	<% include _accessories/_electricBox/_electricBox %>
	<% include _accessories/_fireAlarm/_fireAlarm %>
	<% include _accessories/_lightingIndoor/_lightingIndoor %>
	<% include _accessories/_stormKit/_stormKit %>
	<% include _accessories/_toolkit/_toolkit %>
	<% include _accessories/_smallWardrobe/_smallWardrobe %>

	<% include _partials/_footer %>