<!-- Modal -->
<div class="modal fade" id="msuHard" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="productModalLabel">Pre-Fab Hard wall (office-living)</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<% include _carousel %>
					</div>
					<div class="col-md-6">
						<h2>US$ 8,433.54 <small>(Average)</small></h2>
						<span class="badge badge-primary text-uppercase">Shelter</span>
						<p class="mt-2">
							Pre fabs are easily erected buildings, operational in a very short time, and can be
							assembled completely by hand, without need for any kind of heavy mechanical equipment.
							Construction time
							for the Single Module Building will not exceed twenty-five minutes with a skilled team
							of four workers.
							- Purpose of the office accommodation: Flexible and adaptable for use as
							office, living, conference rooms, medical examination room.
							- Operating Conditions: The environment in which the MSUs will be working in
							is very diverse with extreme weather conditions from very cold with ice/snow
							and on the opposite end of the spectrum very hot and humid.
						</p>
						<div class="row justify-content-between align-items-center mb-3">
							<div class="col">
								<label for="" class="d-block">Type</label>
								<select class="custom-select custom-select-outline">
									<option selected>Office/Living, Accommodation unit, hard wall E</option>
									<option value="1">A/C, split type, for modular bldg. E </option>
								</select>
							</div>
							<div class="col">
								<label for="">Quantity</label>
								<input class="form-control form-control-outline w-50" type="number" value="1">
							</div>
						</div>

						<a href="#" class="btn btn-block btn-primary">
							<svg class="navbar-icon">
								<use xlink:href="sprite.svg#star"></use>
							</svg>
							<span>Add to wishlist</span>
							<img src="images/chevron-right.svg" alt="Arrow right">
						</a>

						<a href="#" class="btn btn-block btn-secondary">
							<svg class="navbar-icon">
								<use xlink:href="sprite.svg#download"></use>
							</svg>
							<span>Technical Details</span>
							<img src="images/chevron-right.svg" alt="Arrow right">
						</a>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<h5 class="d-flex align-items-center">
					<svg class="navbar-icon mr-2">
						<use xlink:href="sprite.svg#box"></use>
					</svg>
					Accessories
				</h5>
				<ul>
					<li>
						<a href="accessories.html">Bed</a>
					</li>
					<li>
						<a href="accessories.html">Cabinet</a>
					</li>
					<li>
						<a href="accessories.html">Chair</a>
					</li>
					<li>
						<a href="accessories.html">Desk</a>
					</li>
					<li>
						<a href="accessories.html">Electric Box</a>
					</li>
					<li>
						<a href="accessories.html">Toolkit</a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>